{% extends 'web/base.html' %}
{% load staticfiles %}
{% load categories %}
{% load absurl %}
{% load socials %}
{% block title %}{{ block.super }} | Blog{% endblock %}
{% block content %}
    <header>
      <div class="blog-title parallax-section">
        <div class="white-layer">
          <div class="container">
            <h2>{% block page_title %}
                {% if category %}
                    {{ category|capfirst }}
                {% else %}
                    All categories
                {% endif %}
            {% endblock %}</h2>
          </div><!-- end container -->
        </div>
      </div>
    </header>

    <section>
      <div class="blog-page-background">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 blog-page-content">
            {% block posts %}
                    {% for post in blog_posts %}
                        <div class="blog-page-post">
                            <div class="post-info">
                                {% for category in post.categories.all %}
                                  <h4><a href="{% url 'web:blog_category' category|slugify %}">{{ category }}</a></h4>
                                {% endfor %}
                              <h3><a href="{% url 'web:blog_single' post.id %}{{ post.title|slugify }}">{{ post.title }}</a></h3>
                              <ul>
                                <li>
                                  <a>{{ post.pub_date|date:"j. n. Y"  }}</a>
                                </li>
                              </ul>
                            </div>
                        <!-- Post short text -->
                            <div>
                              <div style="width:200px; float:left; margin-right: 15px;">
                                {% if post.image %}
                              <img src="{{ MEDIA_URL }}{{ post.image }}" alt="">
                                {% endif %}
                              </div>
                            <p>
                            {% if post.text_short %}
                                {{ post.text_short }}
                            {% else %}
                              {{ post.text|truncatechars:500 }}
                              {% ifnotequal post.text|truncatechars:500|length post.text|truncatechars:500|length %}
                                 ...
                              {% endifnotequal %}
                            {% endif %}
                            </p>
                            <div class="clearfix"></div>
                            </div>
                            <!-- end Post short text -->
                            <div class="post-additional-info">
                              <!-- Share on Social Media -->
                              <div>
                                <ul class="share">
                                  <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={% absurl 'web:blog_single' post.id %}{{ post.title|slugify }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-facebook"></i></a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/home?status={{ post.title|urlencode }}:%20{% absurl 'web:blog_single' post.id %}{{ post.title|slugify }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter"></i></a>
                                  </li>
                                  <li>
                                    <a href="https://plus.google.com/share?url={% absurl 'web:blog_single' post.id %}{{ post.title|slugify }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></a>
                                  </li>
                                </ul>
                              </div>
                              <!-- end Share on Social Media -->
                              <div>
                                <a class="read-more" href="{% url 'web:blog_single' post.id %}{{ post.title|slugify }}">Read More<i class="fa fa-long-arrow-right"></i></a>
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                {% endblock posts %}
            </div>
            <!-- Sidebar -->
            <div class="col-xs-12 col-sm-4 blog-sidebar">
              <!-- Category -->
            {% block categories %}
                {% categories %}
                {% endblock categories %}
              <!-- end Category -->
              <!-- Popular Posts -->
              <div class="sidebar-box">
                <h4>Popular Posts</h4>
                <div class="popular-posts">
                  <!-- Popular Post 1 -->
                  <div class="post-box">
                    <a href="#">
                      <img src="{% static 'web/images/demo-img.jpg' %}" alt="">
                    </a>
                    <div>
                      <p><a href="#">Blog Post with Image</a></p>
                      <span>Dec 09, 2015</span>
                    </div>
                  </div>
                  <!-- Popular Post 2 -->
                  <div class="post-box">
                    <a href="#">
                      <img src="{% static 'web/images/demo-img.jpg' %}" alt="">
                    </a>
                    <div>
                      <p><a href="#">Standart Blog Post</a></p>
                      <span>Dec 08, 2015</span>
                    </div>
                  </div>
                  <!-- Popular Post 3 -->
                  <div class="post-box">
                    <a href="#">
                      <img src="{% static 'web/images/demo-img.jpg' %}" alt="">
                    </a>
                    <div>
                      <p><a href="#">Blog Post with Image</a></p>
                      <span>Dec 07, 2015</span>
                    </div>
                  </div>
                  <!-- end Popular Post 3 -->
                </div>
              </div>
              <!-- end Popular Posts -->
            </div>
            <!-- end Sidebar -->
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
    </section>
{% endblock %}