{% extends 'web/blog.html' %}
{% load staticfiles %}
{% block posts %}
  <div class="blog-single-post">
    <!-- Post image -->
    <img src="{% static 'web/images/demo-img.jpg' %}" alt="">
    <!-- end Post image -->
    <!-- Post content -->
    <div class="post">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue mollis justo eu faucibus. Sed tincidunt purus et risus feugiat, a suscipit quam vulputate. Morbi elementum, turpis eget blandit facilisis, est urna vestibulum sem, at tincidunt eros lacus id libero.</p>
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue mollis justo eu faucibus. Sed tincidunt purus et risus feugiat, a suscipit quam vulputate.
      </blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue mollis justo eu faucibus. Sed tincidunt purus et risus feugiat, a suscipit quam vulputate. Morbi elementum, turpis eget blandit facilisis, est urna vestibulum sem, at tincidunt eros lacus id libero. Donec id turpis aliquet, luctus leo at, porta risus.</p>
    </div>
    <!-- end Post content -->
    <!-- Tags -->
    <ul class="tags">
      <li>
        <a href="#">Photography</a>
      </li>
      <li>
        <a href="#">Nature</a>
      </li>
    </ul>
    <!-- end Tags -->
    <div class="post-additional-info">
      <!-- Share on Social Media -->
      <div>
        <ul class="share">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
        </ul>
      </div>
      <!-- end Share on Social Media -->
      <div>
        <ul class="post-date">
          <li>
            <a href="#">by John Luna</a>
          </li>
          <li>
            <a href="#">Dec 09, 2015</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Comments -->
    <div class="comments">
      <h3>Comments</h3>
      <ul>
        <!-- Comment 1 -->
        <li>
          <div class="comment-head">
            <img src="{% static 'web/images/client-img.jpg' %}" alt="">
            <div>
              <h4>James Carrick</h4>
              <span>1 Day ago</span>
            </div>
            <a href="#">Reply</a>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla scelerisque purus in tempus. Sed vel risus dapibus, dignissim ante id, iaculis quam.</p>
        </li>
        <!-- Comment 2 -->
        <li class="comment-reply">
          <div class="comment-head">
            <img src="{% static 'web/images/client-img.jpg' %}" alt="">
            <div>
              <h4>Melissa Bakos</h4>
              <span>1 Day ago</span>
            </div>
            <a href="#">Reply</a>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla scelerisque purus in tempus. Sed vel risus dapibus, dignissim ante id, iaculis quam.</p>
        </li>
        <!-- Comment 3 -->
        <li>
          <div class="comment-head">
            <img src="{% static 'web/images/client-img.jpg' %}" alt="">
            <div>
              <h4>Harold Hackett</h4>
              <span>2 Days ago</span>
            </div>
            <a href="#">Reply</a>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla scelerisque purus in tempus. Sed vel risus dapibus, dignissim ante id, iaculis quam.</p>
        </li>
        <!-- end Comment 3 -->
      </ul>
    </div>
    <!-- end Comments -->
    <!-- Write Comment -->
    <div class="write-comment">
      <h3>Leave a Reply</h3>
      <form method="post">
        <div class="comment-input">
          <input type="text" id="name" name="name" placeholder="Name">
        </div>
        <div class="comment-input">
          <input type="email" id="email" name="email" placeholder="E-Mail">
        </div>
        <!-- clearfix --><div class="clearfix"></div><!-- end clearfix -->
        <div class="comment-text">
          <textarea name="message" id="message" placeholder="Message"></textarea>
        </div>
        <input type="submit" id="submit" class="submit-style" name="submit" value="Post Comment">
      </form>
    </div>
    <!-- end Write Comment -->
  </div>
{% endblock posts %}