{% extends "web/base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} | About{% endblock %}

    {% block content %}
  	<!-- About section -->
  	<section id="about">
  		<div class="about-background">
  			<div class="container">
  				<div class="section-title">
	  				<h2>About me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
	  			</div>
  				<div class="row">
            <div class="aboutWrapper">
    					<div class="col-xs-12 col-sm-6 col-md-3 about-image">
    						<img src="{% static 'web/images/avatar.jpg' %}" alt="">
    					</div>
    					<div class="col-xs-12 col-sm-6 col-md-3 contact-info">
  							<ul>
  								<li><h4>Address:</h4><span>{{ me.address }}</span></li>
                  <li><h4>Date of birth:</h4><span>{{ me.birth }}</span></li>
  								<li><h4>Email:</h4><span>{{ me.email }}</span></li>
                  <li><h4>Phone:</h4><span>{{ me.phone }}</span></li>
                  <li><h4>Skype:</h4><span>{{ me.skype }}</span></li>
                  <li><h4>Languages:</h4><span>{{ me.languages }}</span></li>
  							</ul>
  						</div>
    					<div class="col-xs-12 col-md-6 about-grey-content">
    						<div>
  	  						<h3>{{ me.name }} {{ me.surname }}</h3>
  	  						<span>Entrepreneur / Web Developer</span>
  	  						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget nunc convallis, lacinia tellus eu, tempor libero. Curabitur convallis lacinia diam ac efficitur. Mauris libero nibh, dictum dignissim consequat a, eleifend vitae eros. Sed vitae mauris risus.</p>
  	  						<ul>
                                {% for social in me.social_set.all %}
  	  							<li>
  	  								<a href="{{ social.href }}"><i class="fa {{ social.icon }}"></i></a>
  	  							</li>
                                {% endfor %}
  	  						</ul>
    						</div>
    					</div>
            </div>
  				</div><!-- end row -->
  			</div><!-- end container -->
  		</div>
  	</section>
  	<!-- end About section -->

    <!-- Skills -->
    <section id="skills">
      <div class="container">
        <div class="skills-background">
          <div class="row">
            <!-- Skill box 1 -->
            <div class="col-xs-12 col-sm-6 col-md-3 skill-box">
              <i class="fa fa-html5"></i>
              <span data-to="100"></span>
              <h4>HTML &amp; CSS3</h4>
            </div>
            <!-- Skill box 2 -->
            <div class="col-xs-12 col-sm-6 col-md-3 skill-box">
              <i class="fa fa-wordpress"></i>
              <span data-to="80"></span>
              <h4>Wordpress</h4>
            </div>
            <!-- Skill box 3 -->
            <div class="col-xs-12 col-sm-6 col-md-3 skill-box">
              <i class="fa fa-code"></i>
              <span data-to="85"></span>
              <h4>JavaScirpt</h4>
            </div>
            <!-- Skill box 4 -->
            <div class="col-xs-12 col-sm-6 col-md-3 skill-box">
              <i class="fa fa-paint-brush"></i>
              <span data-to="90"></span>
              <h4>Photoshop</h4>
            </div>
            <!-- end Skill box 4 -->
          </div><!-- end row -->
        </div>
      </div><!-- end container -->
    </section>
    <!-- end Skills -->
{% comment %}
  	<!-- Blog section -->
  	<section id="blog">
  		<div class="blog-background">
  			<div class="container">
  				<div class="section-title">
  					<h2>Recent Posts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  					<!-- navigation -->
            <div class="customNavigation">
              <ul>
                <li id="prev"><i class="fa fa-angle-left"></i></li>
                <li id="next"><i class="fa fa-angle-right"></i></li>
              </ul>
            </div>
            <!-- end navigation -->
  				</div>
        </div><!-- end container -->
				<div class="container-fluid">
  				<div id="blogSlider" class="owl-carousel">
  					<!-- Post 1 -->
  					<div class="blog-post">
              <a href="#">
    						<div class="blog-post-content">
                  <img src="images/demo-img.jpg" alt="">
                  <span class="blog-post-category">Travel</span><!-- category -->
                  <div>
                    <h3>Blog Post with Image</h3>
                    <ul>
                      <li>by John Luna</li>
                      <li>Dec 09</li>
                    </ul>
                  </div>
                </div>
              </a>
  					</div>
  					<!-- Post 2 -->
  					<div class="blog-post">
              <a href="#">
                <div class="blog-post-content">
                  <img src="{% static 'web/images/demo-img.jpg' %}" alt="">
                  <span class="blog-post-category">Meeting</span><!-- category -->
                  <div>
                    <h3>Standart Blog Post</h3>
                    <ul>
                      <li>by John Luna</li>
                      <li>Dec 09</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
  					<!-- Post 3 -->
  					<div class="blog-post">
              <a href="#">
                <div class="blog-post-content">
                  <img src="{% static 'web/images/demo-img.jpg' %}" alt="">
                  <span class="blog-post-category">Health</span><!-- category -->
                  <div>
                    <h3>Blog Post with Image</h3>
                    <ul>
                      <li>by John Luna</li>
                      <li>Dec 09</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
  					<!-- Post 4 -->
  					<div class="blog-post">
              <a href="#">
                <div class="blog-post-content">
                  <img src="{% static 'web/images/demo-img.jpg' %}" alt="">
                  <span class="blog-post-category">Lifestyle</span><!-- category -->
                  <div>
                    <h3>Standart Blog Post</h3>
                    <ul>
                      <li>by John Luna</li>
                      <li>Dec 09</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
  					<!-- end Post 4 -->
  				</div>
				</div><!-- end container fluid -->
        <a class="btn-style" href="#">view all posts</a>
  		</div>
  	</section>
  	<!-- end Blog section -->

    <!-- Services -->
    <section>
      <div class="services-background parallax-section">
        <div class="white-layer">
          <div class="container">
            <div class="row">
              <!-- Service box 1 -->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <i class="fa fa-pencil-square-o"></i>
                <h3>Web Design</h3>
                <p>Vestibulum ac pharetra nibh, id viverra dolor. Ut vel lorem massa. Ut quam enim, tempor et sapien non, convallis molestie orci.</p>
              </div>
              <!-- Service box 2 -->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <i class="fa fa-camera-retro"></i>
                <h3>Photography</h3>
                <p>Vestibulum ac pharetra nibh, id viverra dolor. Ut vel lorem massa. Ut quam enim, tempor et sapien non, convallis molestie orci.</p>
              </div>
              <!-- Service box 3 -->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <i class="fa fa-laptop"></i>
                <h3>Online Marketing</h3>
                <p>Vestibulum ac pharetra nibh, id viverra dolor. Ut vel lorem massa. Ut quam enim, tempor et sapien non, convallis molestie orci.</p>
              </div>
              <!-- Service box 4 -->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <i class="fa fa-code"></i>
                <h3>Web Development</h3>
                <p>Vestibulum ac pharetra nibh, id viverra dolor. Ut vel lorem massa. Ut quam enim, tempor et sapien non, convallis molestie orci.</p>
              </div>
              <!-- end Service box 4 -->
            </div><!-- end row -->
          </div><!-- end container -->
        </div>
      </div>
    </section>
    <!-- end Services -->
{% endcomment %}
  	<!-- Resume section -->
  	<section id="resume">
			<div class="resume-background">
        <div class="container">
  				<div class="section-title">
  					<h2>Resume</h2>
  					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  				</div>
  				<div class="row">
  					<div class="col-xs-12 col-md-6 education-content">
  						<!-- Education box 1 -->
  						<div class="resume-box">
  							<div>
  								<h3>IT University</h3>
                  <span>2011-2014</span>
  							</div>
  							<div>
	  							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lacus, mattis maximus odio a, tincidunt gravida turpis.</p>
                  <i class="icon icon-basic-book-pencil"></i>
  							</div>
  						</div>
  						<!-- Education box 2 -->
  						<div class="resume-box">
  							<div>
  								<h3>IT University</h3>
                  <span>2011-2014</span>
  							</div>
  							<div>
	  							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lacus, mattis maximus odio a, tincidunt gravida turpis.</p>
                  <i class="icon icon-basic-book-pencil"></i>
  							</div>
  						</div>
  						<!-- Education box 3 -->
  						<div class="resume-box">
  							<div>
  								<h3>IT University</h3>
                  <span>2011-2014</span>
  							</div>
  							<div>
	  							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lacus, mattis maximus odio a, tincidunt gravida turpis.</p>
                  <i class="icon icon-basic-book-pencil"></i>
  							</div>
  						</div>
  						<!-- end Education box 3 -->
  					</div>
  					<div class="col-xs-12 col-md-6 employment-content">
  						<!-- Employment box 1 -->
  						<div class="resume-box">
  							<div>
  								<h3>ThemeForest</h3>
                  <span>2014-2016</span>
  							</div>
  							<div>
	  							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lacus, mattis maximus odio a, tincidunt gravida turpis.</p>
                  <i class="icon icon-basic-case"></i>
  							</div>
  						</div>
  						<!-- Employment box 2 -->
  						<div class="resume-box">
  							<div>
  								<h3>PhotoDune</h3>
                  <span>2013-2014</span>
  							</div>
  							<div>
	  							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lacus, mattis maximus odio a, tincidunt gravida turpis.</p>
                  <i class="icon icon-basic-case"></i>
  							</div>
  						</div>
  						<!-- Employment box 3 -->
  						<div class="resume-box">
  							<div>
  								<h3>ThemeForest</h3>
                  <span>2011-2013</span>
  							</div>
  							<div>
	  							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lacus, mattis maximus odio a, tincidunt gravida turpis.</p>
                  <i class="icon icon-basic-case"></i>
  							</div>
  						</div>
  						<!-- end Employment box 3 -->
  					</div> 
  				</div><!-- end row -->
        </div><!-- end container -->
			</div>
  	</section>
  	<!-- end Resume section -->
{% comment %}
  	<!-- Portfolio section -->
  	<section id="portfolio">
  		<div class="portfolio-background">
        <div class="portfolioTitleWrapper">
    			<div class="container">
    				<div class="section-title">
    					<h2>Portfolio</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <ul id="button-group">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".category-1">Objective</li>
                <li data-filter=".category-2">Technology</li>
              </ul>
    				</div>
    			</div>
        </div>
  			<div class="container-fluid">
  				<div id="masonryGrid" class="row">
  					<!-- Portfolio box 1 -->
  					<div class="portfolio-box col-xs-12 col-sm-4 category-1">
  						<img src="images/portfolio.jpg" alt="">
              <a class="lightbox" href="#popup-1"> 
    						<div class="image-hover">
                  <div>
    							  <h3>Project Title</h3>
                    <span>Objective</span>
                  </div>
    						</div>
              </a>
  						<!-- popup content -->
  						<div id="popup-1" class="mfp-hide popup-box">
  							<img src="images/portfolio.jpg" alt="">
  							<div>
  								<h3>Project Title</h3>
  								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
  							</div>
  						</div>
  						<!-- end popup content -->
  					</div>
  					<!-- Portfolio box 2 -->
  					<div class="portfolio-box col-xs-12 col-sm-4 category-2">
  						<img src="images/portfolio.jpg" alt="">
              <a class="lightbox" href="#popup-2"> 
    						<div class="image-hover">
  	  						<div>
                    <h3>Project Title</h3>
                    <span>Technology</span>
                  </div>
    						</div>
              </a>
  						<!-- popup content -->
  						<div id="popup-2" class="mfp-hide popup-box">
  							<img src="images/portfolio.jpg" alt="">
  							<div>
  								<h3>Project Title</h3>
  								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
  							</div>
  						</div>
  						<!-- end popup content -->
  					</div>
  					<!-- Portfolio box 3 -->
  					<div class="portfolio-box col-xs-12 col-sm-4 category-2">
  						<img src="images/portfolio.jpg" alt="">
              <a class="lightbox" href="#popup-3"> 
    						<div class="image-hover">
    							<div>
                    <h3>Project Title</h3>
                    <span>Technology</span>
                  </div>
    						</div>
              </a>
  						<!-- popup content -->
  						<div id="popup-3" class="mfp-hide popup-box">
  							<img src="{% static 'web/images/portfolio.jpg' %}" alt="">
  							<div>
  								<h3>Project Title</h3>
  								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
  							</div>
  						</div>
  						<!-- end popup content -->
  					</div>
  					<!-- Portfolio box 4 -->
  					<div class="portfolio-box col-xs-12 col-sm-4 category-2">
  						<img src="{% static 'web/images/portfolio.jpg' %}" alt="">
              <a class="lightbox" href="#popup-4"> 
    						<div class="image-hover">
  	  						<div>
                    <h3>Project Title</h3>
                    <span>Technology</span>
                  </div>
    						</div>
              </a>
  						<!-- popup content -->
  						<div id="popup-4" class="mfp-hide popup-box">
  							<img src="{% static 'web/images/portfolio.jpg' %}" alt="">
  							<div>
  								<h3>Project Title</h3>
  								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
  							</div>
  						</div>
  						<!-- end popup content -->
  					</div>
  					<!-- Portfolio box 5 -->
            <div class="portfolio-box col-xs-12 col-sm-4 category-1">
              <img src="{% static 'web/images/portfolio.jpg' %}" alt="">
              <a class="lightbox" href="#popup-5"> 
                <div class="image-hover">
                  <div>
                    <h3>Project Title</h3>
                    <span>Objective</span>
                  </div>
                </div>
              </a>
              <!-- popup content -->
              <div id="popup-5" class="mfp-hide popup-box">
                <img src="{% static 'web/images/portfolio.jpg' %}" alt="">
                <div>
                  <h3>Project Title</h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                </div>
              </div>
              <!-- end popup content -->
            </div>
            <!-- Portfolio box 6 -->
            <div class="portfolio-box col-xs-12 col-sm-4 category-1">
              <img src="{% static 'web/images/portfolio.jpg' %}" alt="">
              <a class="lightbox" href="#popup-6"> 
                <div class="image-hover">
                  <div>
                    <h3>Project Title</h3>
                    <span>Objective</span>
                  </div>
                </div>
              </a>
              <!-- popup content -->
              <div id="popup-6" class="mfp-hide popup-box">
                <img src="{% static 'web/images/portfolio.jpg' %}" alt="">
                <div>
                  <h3>Project Title</h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                </div>
              </div>
              <!-- end popup content -->
            </div>
            <!-- end Portfolio box 6 -->
  				</div>
  			</div><!-- end container -->
  		</div>
  	</section>
  	<!-- end Portfolio section -->

  	<!-- Testimonial -->
  	<section>
  		<div class="container">
	  		<div class="testimonial-background">
	  			<div class="row">
            <div class="testimonialWrapper">
  	  				<!-- Testimonial 1 -->
  	  				<div class="col-xs-12 col-md-4 testimonial-box">
  	  					<div class="client-img">
  	  						<img src="{% static 'web/images/client-img.jpg"' %} alt="">
  	  						<div>
  		  						<h3>James Carrick</h3>
  		  						<span>CEO of Company</span>
  	  						</div>
  	  					</div>
  	  					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis quis tellus ac vestibulum. Etiam fermentum nisl ac venenatis rhoncus.</p>
  	  				</div>
  	  				<!-- Testimonial 2 -->
  	  				<div class="col-xs-12 col-md-4 testimonial-box">
  	  					<div class="client-img">
  	  						<img src="{% static 'web/images/client-img.jpg"' %} alt="">
  	  						<div>
  		  						<h3>Melissa Bakos</h3>
  		  						<span>CEO of Company</span>
  	  						</div>
  	  					</div>
  	  					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis quis tellus ac vestibulum. Etiam fermentum nisl ac venenatis rhoncus.</p>
  	  				</div>
  	  				<!-- Testimonial 3 -->
  	  				<div class="col-xs-12 col-md-4 testimonial-box">
  	  					<div class="client-img">
  	  						<img src="{% static 'web/images/client-img.jpg"' %} alt="">
  	  						<div>
  		  						<h3>Harold Hackett</h3>
  		  						<span>CEO of Company</span>
  	  						</div>
  	  					</div>
  	  					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis quis tellus ac vestibulum. Etiam fermentum nisl ac venenatis rhoncus.</p>
  	  				</div>
  	  				<!-- end Testimonial 3 -->
            </div>
	  			</div><!-- end row -->
	  		</div>
  		</div><!-- end container -->
  	</section>
  	<!-- end Testimonial -->
{% endcomment %}
  	<!-- Contact section -->
  	<section id="contact">
  		<div class="contact-background">
  			<div class="container">
					<div class="contact-form">
						<div class="section-title">
	  					<h2>Get In Touch</h2>
	  					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
	  				</div>
	  				<!-- contact form -->
	  				<form method="post" id="contactform">
              <div class="input-style">
	              <div>
	                <input type="text" id="name" name="name" placeholder="Name">
	              </div>
	              <div>
	                <input type="email" id="email" name="email" placeholder="E-Mail">
	              </div>
                <div>
                  <input type="text" id="phone" name="phone" placeholder="Phone">
                </div>
              </div>
              <div class="text-style">
                <textarea name="message" id="message" placeholder="Message"></textarea>
                <input type="submit" id="submit" class="submit-style" name="submit" value="Send Message">
              </div>
              <div>
                <p id="success">Your Message has been sent!</p>
                <p id="error">Something went wrong, go back and try again!</p>
              </div>
            </form>
	  				<!-- end contact form -->
					</div>
  			</div><!-- end container -->
  		</div>
      <div class="google-maps">
        <div id="map-canvas"></div>
      </div>
  	</section>
  	<!-- end Contact section -->
{% endblock content %}