{% extends "web/base.html" %}
{% load staticfiles %}
{% load socials %}

{% block title %}{{ block.super }} | About{% endblock %}

    {% block content %}
  	<!-- About section -->
  	<section id="about">
  		<div class="about-background">
  			<div class="container">
  				<div class="section-title">
	  				<h2>About me</h2>
	  			</div>
  				<div class="row">
            <div class="aboutWrapper">
    					<div class="col-xs-12 col-sm-6 col-md-3 about-image">
    						<img src="{{ MEDIA_URL }}{{ me.photo }}" alt="">
    					</div>
    					<div class="col-xs-12 col-sm-6 col-md-3 contact-info">
  							<ul>
  								<li><h4>Address:</h4><span>{{ me.address }}</span></li>
                  <li><h4>Date of birth:</h4><span>{{ me.birth }}</span></li>
  								<li><h4>Email:</h4><span>{{ me.email }}</span></li>
                  <li><h4>Phone:</h4><span>{{ me.phone }}</span></li>
                  <li><h4>Skype:</h4><span>{{ me.skype }}</span></li>
                  <li><h4>Languages:</h4><span>{{ me.languages }}</span></li>
  							</ul>
  						</div>
    					<div class="col-xs-12 col-md-6 about-grey-content">
    						<div>
  	  						<h3>{{ me.name }} {{ me.surname }}</h3>
  	  						<span>{{ me.descript_short }}</span>
  	  						<p>{{ me.description|linebreaks }}</p>
                                <ul>
                                    {% socials %}
                                </ul>
    						</div>
    					</div>
            </div>
  				</div><!-- end row -->
  			</div><!-- end container -->
  		</div>
  	</section>
  	<!-- end About section -->

    <!-- Skills -->
    <section id="skills">
      <div class="container">
        <div class="skills-background">
          <div class="row">
            <!-- Skill box 1 -->
              {% for skill in me.skill_set.all %}
                <div class="col-xs-12 col-sm-6 col-md-3 skill-box">
                  <i class="{{ skill.icon_class }}"></i>
                  <span data-to="{{ skill.percentage }}"></span>
                  <h4>{{ skill.name }}</h4>
                </div>
                {% endfor %}
          </div><!-- end row -->
        </div>
      </div><!-- end container -->
    </section>
    <!-- end Skills -->
  	<!-- Resume section -->
  	<section id="resume">
			<div class="resume-background">
        <div class="container">
  				<div class="resume section-title">
  					<h2>Resume</h2>
                    {% if me.resume %}
  					<p><a href="{{ MEDIA_URL }}{{ me.resume }}"><i class="fa fa-file-pdf-o"></i> Download</a></p>
                    {% endif %}
  				</div>
  				<div class="row">
  					<div class="col-xs-12 col-md-6 education-content">
  						<!-- Education box -->
                        {% for school in me.school_set.all %}
  						<div class="resume-box">
                            <h3>{{ school.course }}</h3>
                            <h2>{{ school.name }}</h2>
                            <span class="date"><i class="fa fa-calendar"></i>{{ school.start }}{% if school.end %}-{% endif %}{{ school.end }}</span>
                            <span><i class="fa fa-map-marker"></i>{{ school.location }}</span>
                            <p>{{ school.description }}</p>
                            <i class="icon icon-basic-book-pencil"></i>
  						</div>
                        {% endfor %}
  					</div>
  					<div class="col-xs-12 col-md-6 employment-content">
  						<!-- Employment box -->
                        {% for work in me.work_set.all %}
  						<div class="resume-box">
                            <h3>{{ work.position }}</h3>
                            <h2>{{ work.company_name }}</h2>
                            <span class="date"><i class="fa fa-calendar"></i>{{ work.start }}{% if work.end %}-{% endif %}{{ work.end }}</span>
                            {% if work.location %}<span><i class="fa fa-map-marker"></i>{{ work.location }}</span>{% endif %}
                            <p>{{ work.description }}</p>
                            <i class="icon icon-basic-case"></i>
  						</div>
                        {% endfor %}
  					</div>
  				</div><!-- end row -->
        </div><!-- end container -->
			</div>
  	</section>
  	<!-- Contact section -->
  	<section id="contact">
  		<div class="contact-background">
  			<div class="container">
					<div class="contact-form">
						<div class="section-title">
	  					<h2>Get In Touch</h2>
	  				</div>
	  				<!-- contact form -->
	  				<form method="post" id="contactform">
                        {% csrf_token %}
                      <div class="input-style">
                          <div>
                              {{ form.name }}
                          </div>
                          <div>
                              {{ form.email }}
                          </div>
                        <div>
                            {{ form.phone }}
                        </div>
                      </div>
              <div class="text-style">
                  {{ form.message }}
                <input type="submit" id="submit" class="submit-style" name="submit" value="Send Message">
              </div>
              <div>
                <p id="success">Your Message has been sent!</p>
                <p id="error">Something went wrong, go back and try again!</p>
              </div>
            </form>
	  				<!-- end contact form -->
					</div>
  			</div><!-- end container -->
  		</div>
      <div class="google-maps">
        <div id="map-canvas"></div>
      </div>
  	</section>
  	<!-- end Contact section -->
{% endblock content %}