{% extends 'web/base.html' %}
{% load staticfiles %}
{% load categories from portfolio_categories %}
{% load absurl %}
{% load socials %}
{% load thumbnail %}
{% load popular_projects %}

{% block head %}
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/darcula.css' %}">
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block title %}{{ block.super }} | Portfolio{% endblock %}
{% block content %}
    <header>
      <div class="blog-title parallax-section">
        <div class="white-layer">
          <div class="container">
            <h2>{% block page_title %}
                {% if category %}
                    {{ category|capfirst }}
                {% else %}
                    All categories
                {% endif %}
            {% endblock %}</h2>
          </div><!-- end container -->
        </div>
      </div>
    </header>

    <section>
      <div class="blog-page-background">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 blog-page-content">
            {% block posts %}
                    {% for post in blog_posts %}
                        <div class="blog-page-post">
                            <div class="post-info">
                              <h3><a href="{% url 'web:portfolio_single' post.id %}{{ post.title|slugify }}">{{ post.title }}</a></h3>
                              <ul class="icons">
                                {% for technology in post.technologies.all %}
                                    <li>
                                    {% if technology.icon_class %}
                                        <i class="{{ technology.icon_class }}" alt="{{ technology.name }}"></i>
                                    {% elif technology.icon_image %}
                                        <img src="{{ MEDIA_URL }}{{ technology.icon_image }}" alt="{{ technology.name }}">
                                    {% endif %}
                                    </li>
                                {% endfor %}
                              </ul>
                            </div>
                        <!-- Post short text -->
                            <div>
                              <div class="post-images">
                                {% for image in post.images.all %}
                                    <div>
                                      <a href="{{ MEDIA_URL }}{{ image.image }}" data-lightbox="{{ post.title|slugify }}">
                                          {% thumbnail image.image "200" as thumb %}
                                            <img src="{{ thumb.url }}" alt="">
                                          {% endthumbnail %}
                                      </a>
                                    </div>
                                {% endfor %}
                              </div>
                                  {{ post.text|safe }}
                            <br><br>
                                  <ul class="links">
                                      {% if post.github %}
                                        <li>
                                        <i class="fa fa-github" aria-hidden="true"></i> <a href="{{ post.github }}" target="_blank">View source on GitHub</a>
                                        </li>
                                      {% endif %}
                                      {% if post.preview %}
                                        <li>
                                        <i class="fa fa-external-link" aria-hidden="true"></i> <a href="{{ post.preview }}" target="_blank">Live preview</a>
                                        </li>
                                      {% endif %}
                                      {% if post.download_url %}
                                        <li>
                                        <i class="fa fa-download" aria-hidden="true"></i> <a href="{{ post.download_url }}">Download</a>
                                        </li>
                                      {% endif %}
                                      {% if post.download_file %}
                                        <li>
                                        <i class="fa fa-download" aria-hidden="true"></i> <a href="{{ MEDIA_URL }}{{ post.download_file }}">Download</a>
                                        </li>
                                      {% endif %}
                                  </ul>
                            <div class="clearfix"></div>
                            </div>
                            <!-- end Post short text -->
                            <div class="post-additional-info">
                              <!-- Share on Social Media -->
                              <div>
                                <ul class="share">
                                  <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={% absurl 'web:portfolio_single' post.id %}{{ post.title|slugify }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-facebook"></i></a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/home?status={{ post.title|urlencode }}:%20{% absurl 'web:portfolio_single' post.id %}{{ post.title|slugify }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter"></i></a>
                                  </li>
                                  <li>
                                    <a href="https://plus.google.com/share?url={% absurl 'web:portfolio_single' post.id %}{{ post.title|slugify }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></a>
                                  </li>
                                </ul>
                              </div>
                              <!-- end Share on Social Media -->
                              <div>
                                  <ul class="post-date">
                                    <li><a href="{% url 'web:portfolio_single' post.id %}{{ post.title|slugify }}">Read Comments<i class="fa fa-long-arrow-right"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                {% endblock posts %}
            </div>
            <!-- Sidebar -->
            <div class="col-xs-12 col-sm-4 blog-sidebar">
              <!-- Category -->
            {% block categories %}
                {% categories %}
            {% endblock categories %}
              <!-- end Category -->
            <!-- Popular Posts -->
            {% popular_projects %}
              <!-- end Popular Posts -->
            </div>
            <!-- end Sidebar -->
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
    </section>
{% endblock %}